config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	option ula_prefix 'fd2b:6083:51c2::/48'
	option packet_steering '1'

{% if wrt_interface is defined %}
{% for interface in wrt_interface %}
config interface '{{ interface.name }}'
{% for key, value in interface.items() if key != 'name' %}
	option {{ key }} '{{ value }}'
{% endfor %}

{% endfor %}
{% endif %}
