---
services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./sites-enabled:/etc/nginx/sites-enabled
      - ./htpasswd:/etc/nginx/htpasswd
      - /etc/letsencrypt/:/etc/letsencrypt/:ro\
      - /var/www/certbot:/var/www/certbot/:ro\
    networks:
      - proxy

networks:
  proxy:
    name: proxy
    external: true
