---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart keycloak
  ansible.builtin.systemd:
    name: "{{ keycloak_service_name }}"
    state: restarted
    enabled: true
