#!/usr/bin/env bash

if [ -f .envrc.custom ]; then
  . .envrc.custom
else
  use_flake
fi
PYTHON_BIN=$(which python)
mkdir -p .vscode
[ -f .vscode/settings.json ] || echo '{}' > .vscode/settings.json
jq --arg py "$PYTHON_BIN" '.["python.defaultInterpreterPath"]=$py | .["ansible.python.interpreterPath"]=$py'  .vscode/settings.json > .vscode/settings.json.tmp && mv .vscode/settings.json.tmp .vscode/settings.json
AMSIBLE_VAULT=$(which ansible-vault)
[ -f .vscode/settings.json ] || echo '{}' > .vscode/settings.json
jq --arg py "$AMSIBLE_VAULT" '.["ansibleVault.executable"]=$py'  .vscode/settings.json > .vscode/settings.json.tmp && mv .vscode/settings.json.tmp .vscode/settings.json
