---
dns_inwx_cname:
  - domain: rackmonkey.de
    records:
      - git
    type: CNAME
    value: fw.rackmonkey.de
proxmox_vmid: 100

#duummy data
haproxy_services:
  - name: git.rackmonkey.de
    IP: 10.63.10.2
    Port: 8000


keycloak_clients:
  - realm: rackmonkey
    client_id: gitlab
    name: GitLab
    state: present
    enabled: true
    public_client: false
    secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36663065396130326236303461333632653634323061343932323436383739386333616261656364
          3338376437623665383637343766333639323030303366350a616237623638396162653131643861
          32383863383735326631303735613536393136376135386637393532616665616630363732363137
          3237633835303333310a396465346263393833333239613765366435366234653065306339633965
          61656538366539636662343262303061313233373966616232663964393731316336353339656635
          34343935613535633835333739373631333737646532643132643261616563663565633834306437
          363832346639626133396466633332343431
    redirect_uris:
      - "https://git.rackmonkey.de/users/auth/openid_connect/callback"
    web_origins:
      - "https://git.rackmonkey.de"