---
ansible_user: root
dns_inwx_cname:
  - domain: rackmonkey.de
    records:
      - git
    type: CNAME
    value: fw.rackmonkey.de
proxmox_vmid: 100

#duummy data
haproxy_services:
  - name: git.rackmonkey.de
    IP: 10.63.10.2
    Port: 8000
