---
- name: Include Docker install Role
  ansible.builtin.include_role:
    name: "{{ deployment_docker_compose_docker_role }}"
  vars:
    docker_edition: "ce"
  run_once: true
  when:
    - deployment_docker_compose is defined

- name: Create a network
  community.docker.docker_network:
    name: "{{ item }}"
  with_items: "{{ deployment_docker_compose_docker_networks }}"
  when:
    - deployment_docker_compose_docker_networks is defined
    - deployment_docker_compose is defined

- name: Docker compose deploment
  ansible.builtin.include_tasks: deploy.yml
  vars:
    config: "{{ compose_config }}"
  with_items: "{{ deployment_docker_compose }}"
  loop_control:
    loop_var: compose_config
  when:
    - deployment_docker_compose is defined
