---
- name: Install UFW
  action: >
    {{ ansible_pkg_mgr }} name={{ item }} state=present update_cache=false
  with_items:
    - ufw

#- name: Disable IPv6
#  ansible.builtin.lineinfile:
#    dest: /etc/default/ufw
#    regexp: "^IPV6="
#    line: "IPV6={{ 'yes' if ufw_enable_ipv6 else 'no' }}"
#    state: present
#  notify: UFW Restart

- name: Deleting firewall rules
  community.general.ufw:
    state: reset
  notify: UFW Restart

- name: Show firewall summary
  ansible.builtin.debug:
    var: firewall
  when:
    - firewall |length > 0

- name: Set Firewall Rules
  community.general.ufw: "{{ item }}"
  with_items: "{{ firewall }}"
  when:
    - firewall |length > 0
  notify: UFW Restart

- name: Configure the kernel to keep connections alive when enabling the firewall
  ansible.posix.sysctl:
    name: net.netfilter.nf_conntrack_tcp_be_liberal
    value: 1
    state: present
    sysctl_set: true
    reload: true
  when: ansible_distribution_version is version ('18.04', '=')

- name: Reject everything and enable UFW
  community.general.ufw:
    state: "enabled"
    policy: reject

- name: Cleanup ufw config folder
  ansible.builtin.shell:
    cmd: "ls -t -r | grep {{ item }}.rules.2 | head -n -7 | xargs --no-run-if-empty rm"
    chdir: /etc/ufw
  with_items:
    - after6
    - after
    - before6
    - before
    - user6
    - user
