---


- name: A single condition can be supplied as string instead of list
  ansible.builtin.assert:
    that:
      - certbot_route53_access_key_id is truthy
      - certbot_route53_secret_access_key is truthy
  when:
    - certbot_install_route53_plugin is truthy


- name: Install snap
  ansible.builtin.import_tasks: snap.yml
  when:
    - certbot_install_method == 'snap'
    - certbot_certs is defined

- name: Mkdir /etc/letsencrypt
  ansible.builtin.file:
    path: /etc/letsencrypt
    state: directory
    owner: root
    group: root
    mode: "0600"
  when: certbot_certs is defined

- name: Create /etc/letsencrypt/inwx.cfg
  ansible.builtin.template:
    src: inwx.cfg
    dest: /etc/letsencrypt/inwx.cfg
    owner: root
    group: root
    mode: "0600"
  when: certbot_certs is defined

- name: Install common packages
  ansible.builtin.package:
    name:
      - python3-pip
    state: present
  when:
    - certbot_install_method == 'pip'
    - certbot_certs is defined

- name: Install general pip dependencies
  become: true
  ansible.builtin.pip:
    name:
      - certbot
      - certbot-dns-route53
    state: present
    break_system_packages: true
    executable: /usr/bin/pip3
  when:
    - certbot_install_method == 'pip'
    - certbot_certs is defined
    - certbot_install_route53_plugin is defined
    - certbot_install_route53_plugin is truthy

- name: Install general pip dependencies
  become: true
  ansible.builtin.pip:
    name:
      - certbot
    state: present
    break_system_packages: true
    executable: /usr/bin/pip3
  when:
    - certbot_install_method == 'pip'
    - certbot_certs is defined
    - certbot_install_route53_plugin is not defined
    - certbot_install_route53_plugin is truthy

- name: Include geerlingguy.certbot
  ansible.builtin.include_role:
    name: geerlingguy.certbot
  when:
    - certbot_certs is defined
