---
- name: Merge global and host-specific users
  ansible.builtin.set_fact:
    user_ssh_keys_users_effective: >-
      {{
        (
          dict((users | default([]) | map(attribute='name') | zip(users | default([]))))
          | combine(
              dict((users_host | default([]) | map(attribute='name') | zip(users_host | default([])))),
              recursive=True
          )
        )
        | dict2items
        | map(attribute='value')
        | list
      }}

- name: Include_tasks for_user
  ansible.builtin.include_tasks: for_user.yml
  vars:
    user_ssh: "{{ user_config.ssh }}"
    user_name: "{{ user_config.name }}"
    user_folder: /home/{{ user_config.name }}
    user_pub_keys: "{{ user_config.authorized_keys }}"
  loop_control:
    loop_var: user_config
  with_items: "{{ user_ssh_keys_users_effective }}"
  when:
    - user_ssh_keys_users_effective | length > 0
    - user_config.name != "root"
    - user_config.authorized_keys is defined
    - user_config.authorized_keys is truthy
