[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ prometheus_bin_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_storage_retention_time }} \
  --web.console.templates={{ prometheus_install_dir }}/consoles \
  --web.console.libraries={{ prometheus_install_dir }}/console_libraries \
  --web.listen-address={{ prometheus_web_listen_address }}{% for arg in prometheus_extra_args %} \
  {{ arg }}{% endfor %}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
