# This is a template for the network configuration file
# It will be used to configure the Proxmox host network interfaces

auto lo
iface lo inet loopback

# Primary network interface
auto {{ network_config_primary_interface }}
iface {{ network_config_primary_interface }} inet static
    address {{ network_config_primary_ip }}
    netmask {{ network_config_primary_netmask }}
    gateway {{ network_config_primary_gateway }}
    dns-nameservers {{ network_config_dns_servers | join(' ') }}

# Bridge interfaces
{% for bridge in network_config_bridges %}
auto {{ bridge.name }}
iface {{ bridge.name }} inet static
    address {{ bridge.ip }}
    netmask {{ bridge.netmask }}
    bridge-ports {{ bridge.ports }}
    bridge-stp off
    bridge-fd 0
    {% for ip in bridge.additional_ips %}
    address {{ ip }}/24
    {% endfor %}
{% endfor %}