---
- name: Configure OPNsense network interfaces
  community.general.opnsense_config:
    config: |
      <interfaces>
        <lan>
          <if>igb0</if>
          <ipaddr>{{ network_config_opnsense_lan_ip }}</ipaddr>
          <subnet>{{ network_config_opnsense_lan_netmask }}</subnet>
        </lan>
        <wan>
          <if>igb1</if>
          <ipaddr>{{ network_config_opnsense_wan_ip }}</ipaddr>
          <subnet>{{ network_config_opnsense_wan_netmask }}</subnet>
        </wan>
      </interfaces>
    commit: true
  delegate_to: localhost

- name: Add additional IP addresses to OPNsense
  community.general.opnsense_config:
    config: |
      <interfaces>
        <lan>
          <if>igb0</if>
          <ipaddr>{{ network_config_opnsense_lan_ip }}</ipaddr>
          <subnet>{{ network_config_opnsense_lan_netmask }}</subnet>
          <alias>
            {% for ip in network_config_opnsense_additional_ips %}
            <address>{{ ip }}</address>
            {% endfor %}
          </alias>
        </lan>
      </interfaces>
    commit: true
  delegate_to: localhost