---
- name: Check for NAT subnet interfaces
  ansible.builtin.set_fact:
    ssh_port_resolver_has_nat_subnet: >-
      {{ (network_interfaces_interfaces | default([])
          | selectattr('nat_subnet', 'defined')
          | selectattr('nat_subnet')
          | list | length) > 0 }}
  delegate_to: localhost

- name: Check if we should overwrite the ansible_port
  ansible.builtin.set_fact:
    ssh_port_resolver_overwrite_port: >-
      {{ (ssh_port_resolver_has_nat_subnet is defined
          and ssh_port_resolver_has_nat_subnet is truthy
          and (proxmox_vmid is defined)) }}

- name: Set calculated ssh port
  ansible.builtin.set_fact:
    ansible_port: >-
      {{ ((proxmox_vmid | int) + (ssh_port_resolver_offset | int)) }}
  when: ssh_port_resolver_overwrite_port is truthy and ansible_port is not defined
  delegate_to: localhost

- name: Set default ssh port
  ansible.builtin.set_fact:
    ansible_port: >-
         {{ (ssh_port_resolver_default_port | int) }}
  when: ssh_port_resolver_overwrite_port is not truthy and ansible_port is not defined
  delegate_to: localhost

- name: Print ssh port
  ansible.builtin.debug:
    var: ansible_port
