---
- name: Download atuin and check sha256sum
  ansible.builtin.get_url:
    url: "{{ atuin_dl_link }}"
    dest: /tmp/atuin.tar.gz
    checksum: "{{ atuin_checksum }}"
    mode: "0755"
    owner: root
    group: root

- name: Extract atuin.tar.gz into /tmp/atuin
  ansible.builtin.unarchive:
    src: /tmp/atuin.tar.gz
    dest: /tmp
    remote_src: true

- name: Copy atuin to /usr/bin
  ansible.builtin.copy:
    src: /tmp/atuin-x86_64-unknown-linux-gnu/atuin
    dest: /usr/bin/atuin
    mode: "0755"
    owner: root
    group: root
    remote_src: true

- name: Remove /tmp/atuin-x86_64-unknown-linux-gnu
  ansible.builtin.file:
    path: /tmp/atuin-x86_64-unknown-linux-gnu
    state: absent

- name: Remove /tmp/atuin.tar.gz
  ansible.builtin.file:
    path: /tmp/atuin.tar.gz
    state: absent

- name: Ensure the target directory exists
  ansible.builtin.file:
    path: "/root/.config/atuin"
    state: directory
    mode: "0755"

- name: Copy atuin config to server
  ansible.builtin.copy:
    src: files/root/atuin_config.toml
    dest: /root/.config/atuin/config.toml
    owner: root
    group: root
    mode: "0600"
  become: true
