---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart prometheus
  ansible.builtin.systemd:
    name: "{{ prometheus_service_name }}"
    state: restarted
    enabled: true
