---
- name: Set correct ssh settings
  import_playbook: include/ssh.yml

- name: Base Playbook
  hosts: all,!meta
  gather_facts: true
  become: true


  tasks:
    - name: Basic roles
      tags: basic
      block:
        - name: Include role
          ansible.builtin.include_role:
            name: roles/basic/basic_motd

        - name: Include role
          ansible.builtin.include_role:
            name: roles/update
          when:
            - update_system is defined
            - update_system is truthy

        - name: Include role
          ansible.builtin.include_role:
            name: roles/packages

        - name: Include role
          ansible.builtin.include_role:
            name: roles/network_interfaces
          when: network_interfaces_interfaces is defined

        - name: Include role
          ansible.builtin.include_role:
            name: roles/user/user_add
          when:
            - (users | default([]) | length > 0) or (users_host | default([]) | length > 0)

        - name: Include role
          ansible.builtin.include_role:
            name: roles/user/user_secure
          when:
            - (users | default([]) | length > 0) or (users_host | default([]) | length > 0)

        - name: Include role
          ansible.builtin.include_role:
            name: roles/user/user_ssh_keys
          when:
            - (users | default([]) | length > 0) or (users_host | default([]) | length > 0)

        - name: Include role
          ansible.builtin.include_role:
            name: roles/user/user_shell
          when:
            - user_zsh is defined
            - user_zsh is truthy

        - name: Include role
          ansible.builtin.include_role:
            name: roles/fail2ban

        - name: Include role
          ansible.builtin.include_role:
            name: roles/apt
          when:
            - ansible_facts['os_family'] == "Debian"
