---
- name: Docker - Include Docker install Role
  ansible.builtin.include_role:
    name: "{{ nginx_proxy_docker_role }}"
  vars:
    docker_edition: "ce"
  run_once: true

- name: Docker - Create a network proxy
  community.docker.docker_network:
    name: "proxy"

- name: "Docker - Create nginx_proxy target folder"
  ansible.builtin.file:
    path: "{{ nginx_proxy_deployment_path }}"
    state: directory
    mode: "0775"

- name: "Docker - Create additional folders"
  ansible.builtin.file:
    path: "{{ nginx_proxy_deployment_path }}/{{ item }}"
    recurse: true
    state: directory
    mode: 770
  with_items: [sites-enabled]

- name: "Docker - Copy docker compose to host"
  ansible.builtin.template:
    src: docker-compose.yml
    dest: "{{ nginx_proxy_deployment_path }}/docker-compose.yml"
    owner: "{{ nginx_proxy_docker_user }}"
    group: "{{ nginx_proxy_docker_user }}"
    mode: "{{ nginx_proxy_docker_filemode }}"
  become: true
  notify: Restart Nginx Container


