---
- name: Run for package
  when:
    - nginx_proxy_deployment == "package"
  block:
    - name: Set nginx_proxy_deployment_path fact for package
      ansible.builtin.set_fact:
        nginx_proxy_deployment_path: "/etc/nginx"

    - name: Install nginx as package
      ansible.builtin.include_tasks: install_package.yml


- name: Run for docker
  when:
    - nginx_proxy_deployment == "docker"
  block:
    - name: Set nginx_proxy_deployment_path fact for docker
      ansible.builtin.set_fact:
        nginx_proxy_deployment_path: "{{ nginx_proxy_docker_deployment_path }}"

    - name: Install nginx as docker
      ansible.builtin.include_tasks: install_docker.yml

    - name: "Create and start docker compose services"
      community.docker.docker_compose_v2:
        project_src: "{{ nginx_proxy_deployment_path }}"
      failed_when: false


- name: Run for docker or package deployment
  when:
    - nginx_proxy_deployment == "docker" or nginx_proxy_deployment == "package"
  block:

    - name: "Docker - Create additional folders"
      ansible.builtin.file:
        path: "{{ nginx_proxy_deployment_path }}/{{ item }}"
        recurse: true
        state: directory
        mode: 755
      with_items: [htpasswd]

    - name: Copy nginx.conf to server
      ansible.builtin.template:
        src: nginx.conf
        dest: "{{ nginx_proxy_deployment_path }}/nginx.conf"
        owner: root
        group: root
        mode: "0644"
      become: true

    - name: Copy htpasswd to server
      ansible.builtin.template:
        src: htpasswd.conf
        dest: "{{ nginx_proxy_deployment_path }}/htpasswd/{{ nginx_config.target_fqdn }}"
        owner: root
        group: root
        mode: "0644"
      become: true
      with_items: "{{ nginx_proxy }}"
      loop_control:
        loop_var: nginx_config
      when: nginx_config.htpasswd is defined

    - name: Set nginx site config before generating ssl certs
      ansible.builtin.include_tasks: set_config.yml
      vars:
        config: "{{ nginx_config }}"
      with_items: "{{ nginx_proxy }}"
      loop_control:
        loop_var: nginx_config

    - name: Include reload nginx tasks
      ansible.builtin.include_tasks: reload_nginx.yml

    - name: Include certbot role
      ansible.builtin.include_role:
        name: "{{ nginx_proxy_certbot_role }}"
      run_once: true

    - name: Set nginx site config after generating ssl certs
      ansible.builtin.include_tasks: set_config.yml
      vars:
        config: "{{ nginx_config }}"
      with_items: "{{ nginx_proxy }}"
      loop_control:
        loop_var: nginx_config

    - name: Include reload nginx tasks
      ansible.builtin.include_tasks: reload_nginx.yml


