---
- name: Check if Let's Encrypt certificate exists
  ansible.builtin.stat:
    path: /etc/letsencrypt/live/{{ config.target_fqdn }}/fullchain.pem
  register: nginx_proxy_le_cert_stat

- name: Copy nginx.conf to server
  ansible.builtin.template:
    src: nginx_vhost_https.conf
    dest: "{{ nginx_proxy_deployment_path }}/sites-enabled/{{ config.target_fqdn }}.conf"
    owner: root
    group: root
    mode: "0644"
  become: true
  when: nginx_proxy_le_cert_stat.stat.exists


- name: Copy nginx site configs to server
  ansible.builtin.template:
    src: nginx_vhost_http.conf
    dest: "{{ nginx_proxy_deployment_path }}/sites-enabled/{{ config.target_fqdn }}.conf"
    owner: root
    group: root
    mode: "0644"
  become: true
  when: not nginx_proxy_le_cert_stat.stat.exists

